body {
    background-color: #D5E1EF;
  }
  div {
    width: 320px;
    background-color: white;
    margin: auto;
    padding: 16px;
    border-radius: 20px;
    height: 497px;
    position: absolute;
    top: 152px;
    left: 560px;
  }
  img {
    max-width: 100%;
    border-radius: 10px;
  }
  h1 {
    text-align: center;
    font-size: 22px;
    font-family: Outfit;
    color: #1F314F;
  }
  p {
    text-align: center;
    font-size: 15px;
  }